# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.lock
.toml

# Testing
.pytest_cache/
.coverage
htmlcov/
*.log

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# temp generation files
tmp/

# Build artifacts
build/
dist/
*.egg-info/
